<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %} {% include 'blog/block/title.html' %} {% endblock %}
  {% block meta_content %} {% include 'blog/block/meta_content.html' %} {% endblock %}

  <!-- Favicons -->
  <link href="{% static 'design/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/design/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


  {% block css %} {% include 'blog/block/css.html' %} {% endblock %}


</head>

<body>

  <!-- ======= Header ======= -->
<!--  <header id="header" class="header-inner-pages nav justify-content-end">-->
<!--      <table class="tables">-->
<!--          <tr>-->
<!--              <td>-->
<!--                                              <img src="{% static 'logoj.png' %}" width="120px">-->
<!--                                <div>-->
<!--                                  <h7 class="logo me-auto logotip"><a href="{% url 'home' %}"><strong>     jeyholvs MCHJ</a></strong></h7>-->
<!--                                    <div class="container turt">-->
<!--                                        <span class="j" ><strong>jami-birgalikda</strong></span>-->
<!--                                        <div class="xu"><strong>xushvaqtlik</strong></div>-->
<!--                                        <div class="b"><strong>bog'lanish </strong></div>-->
<!--                                        <div class="s"><strong>savdo va</strong></div>-->
<!--                                        <div class="xi"><strong>xizmat</strong></div>-->
<!--                                    </div>-->
<!--                            &lt;!&ndash;      <img src="{% static 'design/assets/img/favicon.png' %}">&ndash;&gt;-->
<!--                                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                    -->
<!--              </td>-->
<!--          </tr>-->
<!--      </table>-->

<!--    <div class="container d-flex">-->



<!--    </div>-->
<!--  </header>-->


{% block menu %} {% include 'blog/block/menu.html' %} {% endblock %}



  <!-- End Header -->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->
<!-- <div class="mt-3"></div>-->

  <div class="pod_menu">

    <!-- ======= Breadcrumbs ======= -->
  {% block breadcrumbs %} {% include 'blog/block/breadcrumbs.html' %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=uz-UZ" type="text/javascript"></script>


<!--<div><b>Ваша страна:</b> <span id="user-country"></span></div>-->
<!--<div><b>Ваш регион:</b> <span id="user-region"></span></div>-->
<!--<div><b>Ваш город:</b> <span id="user-city"></span></div>-->

<script>
  window.onload = function () {
      jQuery("#user-city").text(ymaps.geolocation.city);
      jQuery("#user-region").text(ymaps.geolocation.region);
      jQuery("#user-country").text(ymaps.geolocation.country);
  }
</script>



<!--      <script>-->
<!--  window.onload = function () {-->
<!--   var city = ymaps.geolocation.city;-->
<!--    if(city == 'Ташкент'){-->
<!--       jQuery("#user-city").text('Доставка по Ташкенте бесплатно');-->
<!--     } else {-->
<!--       jQuery("#user-city").text('Доставка почтой по всей России');-->
<!--   }-->
<!--}-->
<!--</script>-->
 {% endblock %}
  {% block content %}
  <section class="inner-page">
      <div class="container">
        <p class="text-center">
          <img src="{% static 'jeypay.png' %}" height="300px">
        </p>
      </div>
  </section>
 {% endblock %}

  </div><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    {% block footer_top %} {% include 'blog/block/footer_top.html' %} {% endblock %}

<!--    <div class="container footer-bottom clearfix">-->
<!--      <div class="copyright">-->
<!--        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved-->
<!--      </div>-->
<!--      <div class="credits">-->
<!--         Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--      </div>-->
<!--    </div>-->
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block js %} {% include 'blog/block/js.html' %} {% endblock %}

</body>

</html>