{% load static %}

{% block breadcrumbs %}
  <!-- Vendor CSS Files -->
  <link href="{% static '/design/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/design/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'design/assets/css/style.css' %}" rel="stylesheet">
{% endblock %}