{% load static %}


<!--<marquee>-->

<!--    h kjsash dkjahs dkjdha skjddh askjdh jkaash dkjahs kdjdha skjddh askjsdh kjasash dkjaash kdjdha skjddh asjksdh jkaash djkash djkdha skjdh ajkssdh ajksash dkjaash dkjahs dkjadhs kdj-->
<!--</marquee>-->


    <div class="container">
        <div class="row">
            <div class="col-2"><div><b>Manzilingiz<img src="{% static 'placeholder.png' %}" width="17px"></b> <span id="user-city"></span></div></div>
            <div class="col"><div id="ww_da67bb71cf120" v='1.3' loc='id' a='{"t":"ticker","lang":"uz","ids":["wl2689"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF00","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Weather Data Source: <a href="https://meteolabs.kz/қаз/ауа-райы_ташкент/10_күн/" id="ww_da67bb71cf120_u" target="_blank">Ауа райы болжамы Ташкент 10 күндік</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_da67bb71cf120"></script></div>
            <div class="col-1">UZ|RU</div>
        </div>
    </div>
<hr>
